/* Body / General */

#content-container {
    background-color: beige;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

/* Gifs and Images */

.gif {
    border: solid;
    border-radius: 5px;
    margin: 5px;
    height: 250px;
    width: 250px;
    padding: 0px;
}

.gif-rating {
    align-self: center;
    transform: rotate(-90deg);
}

/* Columns */
.col-6 {
    align-self: flex-start;
}

#gif-column, #buttons-column {
    text-align: center;
}

/* Rows */
.row {
    justify-content: center;
}
#gif-row {
    justify-content: stretch;
}
#search-row {
    margin-bottom: 15px;
}

/* Buttons */
.btn-warning {
    color: #fde239;
    background-color: #4aa1cc;
    border-color: #b68889;
    margin: 1px;
}

/* Footer */

.footer {
    position: relative;
}

#audio-column {
    padding-right: 340px;
    text-align: center;
}

#copyright-text {
    color: #fff8f8;
    text-shadow: 2px 2px #00000085;
    margin-left: 10px;
    margin-top: 20px;
}
#copyright-column {
    text-align: center;
}