/* Body / General */

body {
     /* Setting Background Image */
     background-image: url("../images/cartoon_sky.jpg");
     /* Full height */
     height: 100%;
     /* Center and scale the image nicely */
     background-repeat: no-repeat;
     background-size: cover;
}
* {
    font-family: 'Margarine', cursive;
    font-family: 'Baloo Chettan', cursive;
    font-family: 'ZCOOL XiaoWei', serif;
    font-family: 'Sniglet', cursive;
    font-family: 'Lilita One', cursive;
}

#content-container {
    margin-top: 25px;
    background-color: #fbca07;
    border-radius: 25px;
    padding: 25px;
}

#input-text {
    border: solid;
    border-radius: 5px;
    margin: 2px;
}

/* Fonts */

#title-font {
    font-family: "Lilita One";
    color: #bf0203;
    font-size: 64px;
}

p, h2, .gif-button, #addGif-span, #addGif-button {
    font-family: "sniglet";
}

/* Gifs and Images */

.gif {
    border: solid;
    border-radius: 5px;
    margin: 5px;
    max-height: 250px;
    height: 100%;
    width: 250px;
    padding: 0px;
}

.gif-rating {
    align-self: center;
    transform: rotate(-90deg);
    font-size: 25px;
}

/* Columns */

.col-6 {
    align-self: flex-start;
}

#gif-column, #buttons-column {
    text-align: center;
}

/* Rows */

.row {
    justify-content: center;
}

#gif-row {
    justify-content: space-between;
}

#search-row, #buttons-row {
    margin-bottom: 15px;
}

#title-row {
    margin-bottom: 15px;
    align-items: center;
}

/* Buttons */

.btn-warning {
    color: #fde239;
    background-color: #4aa1cc;
    border-color: #b68889;
    margin: 1px;
}

.gif-button {
    margin-left: 5px;
    margin-right: 5px;
}

#addGif-button {
    margin-left: 5px;
}

/* Footer */

.footer {
    position: relative;
}

#audio-column {
    padding-right: 340px;
    text-align: center;
}

#copyright-text {
    color: #fff8f8;
    text-shadow: 2px 2px #00000085;
    margin-left: 10px;
    margin-top: 20px;
}

#copyright-column {
    text-align: center;
}